.wrapper

  = render 'shared/side_bar'

  .chat-main
    .main-header
      .group-status
        .current-group
          =@group.name
        %ul.member-list
          Member：
          - @group.users.each do |user|
            %li.member
              =user.name
      .edit
        .edit-group__btn
          Edit
    .messages
      = render @messages
 
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          .input-box__image
            =f.label :image, class: 'form__mask__image' do
              %i.far.fa-image
        =f.submit 'Send',class: 'submit-btn'

