* {box-sizing: border-box;}
.flashbox{
}
.wrapper{
  height:100%;
  width: 100%;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .chat-left{
    height:100%;
    width:300px;   
    float: left;
    position: fixed;
    .left-header{
      background-color:#253141;
      width: 300px;
      height: 100px;
      position: fixed;
      padding: 35px 20px 0;
      &__box{
        flex-direction:row;
        width: 260px;
        display: flex;
        .user-name{
          font-size:16px;
          color: $mainWhiteColor;
          font-weight: bold;
        }
        .menu{
          margin-left: auto;
          .fa-large{
            font-size: 14px
          }
          .fa-white{
            color: $mainWhiteColor;
          }
        }
      }  
    } 
    .groups{
      background-color:#2f3e51;
     width: 300px;
     min-height: calc(100vh - 100px);
     margin-top: 100px;
     padding: 20px 20px 0;
     position: fixed;
     overflow: scroll;
      .group{
        padding-bottom:20px;
          .group-name{
            font-size:15px;
            color: $mainWhiteColor;
            padding-bottom:5px;
         }
          .latest-message{
            font-size:11px;
            color: $mainWhiteColor;
          }
       }
    }
  }
  .chat-main{
    min-height: calc(100vh - 100px);
    width: calc(100vw - 300px);   
    float: right;
    .main-header{
      height: 100px;
      width: calc(100vw - 300px);
      padding: 0 40px;
      background-color: white;
      border-bottom: solid #eee 1px; 
      display: flex;
      justify-content: space-between;
      .group-status{
        padding-top: 35px;
        .current-group {
          font-size:20px;
          color: $mainBlockColoer;
          padding-bottom:15px;
        }
        .member-list{
          font-size:12px;
          color:#999;
          display: flex;
          .member{
            padding-right: 5px;
          }
        }


      }
      .edit{
        color: #38aef0;
        height: 40px;
        margin-top: 28px;
        padding: 0 20px;
        line-height: 40px;
        border: solid $mainLightblueColor  1px;
        cursor: pointer;
        text-decoration: none;
        .EDITlink{
          text-decoration: none;
        }
      }
    }   
    .messages{
      height: calc(100vh - 100px - 90px);
      width: calc(100vw - 300px);
      padding: 46px 40px 0;
      background-color: #fafafa;
      overflow: scroll;

      .message{
        min-height: 105px;
        padding: 0 0 40px;
        .message-status{
          display: flex;
          .talker{
            font-size:16px;
            font-weight: bold;          
            color: $mainBlockColoer;
            padding:0 10px 10px 0;
          }
          .date{
            font-size:12px;
            color:#999;
          }
        }
        .text {
          font-size:14px;
          color:$messageColoer;
        }
      }
    }
    .form{
      width: calc(100% - 300px);
      height: 90px;
      background-color: gainsboro;
      padding:20px 40px;
      position: fixed;
      bottom:0;

      .new_message.new_message{  
        display: flex;
        justify-content: flex-start;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        .input-box{
          height: 50px;
          padding:0 10px 0 10px;
          background-color: $mainWhiteColor;
          -webkit-flex-grow: 1;
          flex-grow: 1;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
          &__text{
            height: 50px;
            font-size:16px;
            color: $messageColoer;
            border: none; 
            -webkit-flex-grow: 1;
            flex-grow: 1;
          }
          &__image{
            width: 22px;
            height: 22px;
            margin-top: 15px;
            &__icon{
              .fa-large{
                font-size: 24px;
                cursor: pointer;
              }
            }
            &__file{
              display: none;
            }

          }
        }
        .submit-btn{
          margin-left: auto;
          height: 50px;
          width: 100px;
          background-color: $mainLightblueColor;
          color: $mainWhiteColor;
          margin-left: 15px;
          line-height: 50px;
          cursor: pointer;
        }
      }
    }
  }
}